@use '../../scss/' as *;

.logo {
  font-size: 2.5rem;
  font-weight: 700;
  margin-left: 20px;

  @include flex(center, unset);
  a {
    background: -webkit-linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 54, 54));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  img {
    margin-right: 10px;
    width: 50px;
    padding-bottom: 15px;

    @include mobile {
      width: 30px;
      margin-right: 4px;
    }
  }

  @include mobile {
    margin-left: 0;
  }
}

.header {
  height: $header-height;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  transition: height 0.3s ease, background-color 0.3s ease;

  &.shrink {
    height: $header-shrink-height;
    background: #092130; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #175a44, #092130); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to left,
      #175a44,
      #092130
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  &__wrap {
    @include flex(center, space-around);
    height: 100%;
    padding: 0 2rem;

    @include mobile {
      justify-content: center;
    }
  }

  &__nav {
    @include flex(center, unset);

    & > * ~ * {
      margin-left: 2rem;
    }

    li {
      padding: 5px 0;
      color: #f1e5e5;
      font-weight: 700;
      position: relative;
      font-size: 1.5rem;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        transition: width 0.5s ease;
        height: 2px;
        background-color: $main-color;
      }

      &.active::after,
      &:hover::after {
        width: 100%;
      }
    }

    @include mobile {
      width: 100%;
      padding: 0 2rem;
      margin-left: 20px;
      box-shadow: $box-shadow;
      @include flex(center, space-evenly);

      & > * ~ * {
        margin-left: 0;
      }
    }
  }
}
