// ---------- Font-----------------
$font-family: 'Nunito Sans', sans-serif;

$body-bg: rgb(15, 15, 15);
$main-color: rgb(206, 38, 38);
$text-color: white;

//color
$white: white;
$black: black;

$box-shadow: rgba(86, 86, 100, 0.2) 0px 6px 29px 0px;
$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius: 30px;

//---------- break-point -------------
$mobile-width: 600px;
$tablet-width: 1024px;
